.layout {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  top: 50%;
  right: 10px;
  bottom: initial;
  left: initial;
  transform: translateY(-50%);
}

.layout:global(.hide) {
  display: none;
}

.layout :global(.ant-btn) {
  width: 38px;
  height: 38px;
  background: rgba(24, 144, 255, 0.75);
  border: 2px solid rgba(0, 0, 0, 0.75);
}

.layout :global(.ant-btn):hover,
.layout :global(.ant-btn):focus {
  background: rgba(24, 144, 255, 0.55);
}

.layout :global(.ant-btn + .ant-btn) {
  margin-top: 15px;
}
